@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

@import "tailwindcss";

/* ? Try these fonts */

/* font-family: 'Space Grotesk', sans-serif; */

/* font-family: 'Playfair Display', serif; */

/* font-family: 'Lora', serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
font-family: 'Orbitron', sans-serif;
 */

/* font-family: 'Quicksand', sans-serif; */



@theme {

  --font-inter: "Inter", sans-serif;
  --font-lora: "Lora", serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-quicksand: "Quicksand", sans-serif;
  --color-primary: #212121;
  --color-navcolor: #7D7D7D;
  --color-secondary: #6CB4B8;
}

/* *{
  font-family: "Inter", sans-serif;
} */


.dm-serif {
  font-family: "DM Serif Text", serif;
  font-weight: 700;
  font-style: normal;
}

.dm-serif-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}
